<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/main.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chase Crawford Profile</title>
    </head>
    <body>
        <header>
            <h1><a>Chase Crawford</a></h1>
            <nav>
                <a href="main.html">About Me</a>
                <a href="ProjectsAndPortfolio.html">Projects and Portfolio</a>
                <a href="CurrentResume.html">Resume</a>
                <a href="main.html">Contact Me</a>
            </nav>
        </header>
        <main>
            <div>
                <h2>I Engineer in these areas</h2>
            </div>
            <div>
                <h2>About Me</h2>
                <div>
                    <img src="../images/IMG_20210507_210529_054.jpg" alt="Picture Not Found">
                </div>
                <div>
                    <p>Hi, I'm Chase Patrick Crawford, a Junior Software Engineer with expertise in Web Development, 
                        Mobile Application Development, and general Software Engineering/Programming. After serving in the 
                        United States Air Force, I earned my Bachelor's Degree in Computer Science at the University of Alabama 
                        at Birmingham, graduating with Cum Laude honors and a 3.56 GPA. Additionally, I obtained a minor in 
                        Business Administration. I have a proven track record in Front-End Development, Back-End 
                        Development, and Full Stack Development. My ability to collaborate seamlessly in team 
                        environments is complemented by my proficiency in working independently. I have experience 
                        with Back-End Programming Languages that are the likes of: Python(With Flask), Java, JavaFX, C, Kotlin, Swift, 
                        and Assembly. I have experience with the Front-End technologies that are the likes of: HTML, 
                        CSS, XML, and FXML. I have experience with the relational database technology of SQL/SQLite. 
                        My IDEs of choice are that of: VSCode, Android Stuido(Android Development/Kotlin), and Xcode(iOS Development/Swift). 
                        Please feel free to view my Projects and Resume pages to view my Projects, Development, Skill Set,and Personal Pursuits.
                    </p>
                </div>
            </div>
            <div>
                <h2>My Tool Belt</h2>
                <h3>My Back-End Tools</h3>
                <h3>My Front-End Tools</h3>
            </div>
            <div>
                <h2>Contact Me</h2>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
