<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/main.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chase Crawford Profile</title>
    </head>
    <body>
        <script defer src="JSmain.js"></script>
        <header>
            <div id="NavigationBar">
                <h1 id="Name"><a href="main.html">Chase Crawford</a></h1>
                <nav id="NavItems">
                    <a id="AboutMeAnchor" href="main.html#CitySkyline">About Me</a>
                    <a id="PortfolioAnchor" href="ProjectsAndPortfolio.html">Projects</a>
                    <a id="ResumeAnchor" href="Resume.html">Resume</a>
                    <a id="ContactAnchor" href="main.html">Contact Me</a>
                </nav>
            </div>
        </header>
        <main>

            <h2 id="WorkAreash2">I Develop In These Areas</h2>

            <div id="WorkAreas">
                <div id="GeneralSWE">
                    <a id="GSWEAnchor" href="ProjectsAndPortfolio.html"><img src="../images/code.png"></a>
                </div>
                <div id="BlueBall"></div>


                <div id="WebDevelopment">
                    <a id="WDAnchor" href="ProjectsAndPortfolio.html"><img src="../images/coding.png"></a>
                </div>
                <div id="OrangeBall"></div>

                <div id="MobileDevelopment">
                    <a id="MDAnchor" href="ProjectsAndPortfolio.html"><img src="../images/mobile-application.png"></a>
                </div>
                <div id="RedBall"></div>
                <div id="Text1">
                    <p>Software Engineering</p>
                </div>
                <div id="Text2">
                    <p>Web Development</p>
                </div>
                <div id="Text3">
                    <p>Mobile Apps</p>
                </div>
            </div>
            <div id="CitySkyline">
                <img id="UAB" src="../images/University of Alabama Birmingham.jpg">
            </div>

            <div id="AboutMeh2">
                <h1>About Me</h1>
            </div>
            <div id="AboutMe">
                    <div id="ProfilePicture">
                        <img id="PPImg" src="../images/IMG_20210507_210529_054.jpg" alt="Picture Not Found">
                    </div>
                    <div id="AboutMePara">
                        <p>I'm Chase Crawford, a Junior Software Engineer with expertise in Software Engineering, Web Development, 
                            and Mobile Application Development. After serving in the United States Air Force, I earned my Bachelor's Degree in Computer Science at the University of Alabama 
                            at Birmingham, graduating with a 3.56 GPA and Cum Laude honors. Additionally, I obtained a minor in 
                            Business Administration. I have a proven track record in Front-End Development, Back-End 
                            Development, and Full Stack Development. My ability to collaborate seamlessly in team 
                            environments is complemented by my proficiency in working independently. I have experience 
                            with Back-End Programming Languages that are the likes of: Python(With Flask), Java, JavaFX, C, Kotlin, Swift, 
                            and Assembly. I have experience with the Front-End technologies that are the likes of: HTML, 
                            CSS, XML, and FXML. I have experience with the relational database technology of SQL/SQLite. 
                            My IDEs of choice are that of: VSCode, Android Stuido(Android Development/Kotlin), and Xcode(iOS Development/Swift). 
                            Please feel free to view my Projects and Resume pages to view my Projects, Development, Skill Set, and Personal Pursuits.
                        </p>
                    </div>
                    <div id="AboutMeContainer"></div>
                    <div id="VerticalLine"></div>
                    <div id="GithubDiv">
                        <a href="https://github.com/ChaseCrawford95"><img id="image1" src="../images/github.png" alt="image not found!!!"></a>
                    </div>
                    <div id="LinkedInDiv">
                        <a href="https://www.linkedin.com/in/chase-crawford-6511261a2/"><img id="image2" src="../images/linkedin.png" alt="image not found!!!"></a>
                    </div>
                    <div id="InstagramDiv">
                        <a href="https://www.instagram.com/chasecrawford95/"><img id="image3" src="../images/instagram.png" alt="image not found!!!"></a>
                    </div>

            </div>
          
            <div id="ToolBelt"> 
                <h2 id="MyToolBelth2">My Tool Belt</h2>
                <div id="BackEndTools">
                    <h3 id="BackEndToolsh3">Back-End Tools</h3>
                    <!--Python Calling Card ----------------------------------------- -->
                    <div id="PythonTextHidder"></div>
                    <p id="PythonText">Python</p>
                    <a id="PythonAnchor" href=""><div id="PythonBox">
                        <img id="PythonIcon" src="../images/python-logo-only.png" alt="no image found">
                    </div></a>
                    <a id="PythonColoredAnchor" href=""><div id="PythonColoredBox">
                    </div></a>
                    <a href=""><div id="PythonTopLayer"></div></a>
                    <!--Java Calling Card ---------------------------------------- -->
                    <div id="JavaTextHidder"></div>
                    <p id="JavaText">Java</p>
                    <a id="JavaAnchor" href=""><div id="JavaBox">
                        <img id="JavaIcon" src="../images/java.png" alt="image not found">
                    </div></a>
                    <a id="JavaColoredAnchor" href=""><div id="JavaColoredBox">
                    </div></a>
                    <a href=""><div id="JavaTopLayer"></div></a>
                    <!--C/C++ Calling Card ---------------------------------------- -->
                    <div id="CTextHidder"></div>
                    <p id="CText">C/C++</p>
                    <a id="CAnchor" href=""><div id="CBox">
                        <img id="CIcon" src="../images/c.png" alt="image not found">
                    </div></a>
                    <a id="CColoredAnchor"><div id="CColoredBox">
                    </div></a>
                    <a href=""><div id="CTopLayer"></div></a>
                    <!--Assembly Calling Card ----------------------------------------- -->
                    <div id="AssemblyTextHidder"></div>
                    <p id="AssemblyText">Assembly</p>
                    <a id="AssemblyAnchor" href=""><div id="AssemblyBox">
                        <img id="AssemblyIcon" src="../images/compiler.png" alt="image not found">
                    </div></a>
                    <a id="AssemblyColoredAnchor"><div id="AssemblyColoredBox">
                    </div></a>
                    <a href=""><div id="AssemblyTopLayer"></div></a>
                    <!--Kotlin Calling Card ----------------------------------------- -->
                    <div id="KotlinTextHidder"></div>
                    <p id="KotlinText">Kotlin</p>
                    <a id="KotlinAnchor" href=""><div id="KotlinBox">
                        <img id="KotlinIcon" src="../images/KotlinLogo.png" alt="image not found">
                    </div></a>
                    <a id="KotlinColoredAnchor"><div id="KotlinColoredBox">
                    </div></a>
                    <a href=""><div id="KotlinTopLayer"></div></a>
                    <!--Swift Calling Card ----------------------------------------- -->
                    <div id="SwiftTextHidder"></div>
                    <p id="SwiftText">Swift</p>
                    <a id="SwiftAnchor" href=""><div id="SwiftBox">
                        <img id="SwiftIcon" src="../images/swift.png" alt="image not found">
                    </div></a>
                    <a id="SwfitColoredAnchorBox"><div id="SwiftColoredBox">
                    </div></a>
                    <a href=""><div id="SwiftTopLayer"></div></a>
                    <!--JavaScript Calling Card ------------------------------------------- -->
                    <div id="JavaScriptTextHidder"></div>
                    <p id="JavaScriptText">JavaScript</p>
                    <a id="JavaScriptAnchor" href=""><div id="JavaScriptBox">
                        <img id="JavaScriptIcon" src="../images/js.png" alt="image not found">
                    </div></a>
                    <a id="JavaScriptColoredAnchorBox"><div id="JavaScriptColoredBox">
                    </div></a>
                    <a href=""><div id="JavaScriptTopLayer"></div></a>
                    <!-- SQLite Calling Card------------------------------------------- -->
                    <div id="SQLiteTextHidder"></div>
                    <p id="SQLiteText">SQLite</p>
                    <a id="SQLiteAnchor" href=""><div id="SQLiteBox">
                        <img id="SQLiteIcon" src="../images/sqlite_logo_icon_169724.png" alt="image not found">
                    </div></a>
                    <a id="SQLiteAnchorColoredBox"><div id="SQLiteColoredBox">
                    </div></a>
                    <a href=""><div id="SQLiteTopLayer"></div></a>
                </div>
                <div id="FrontEndTools">
                    <h3 id="FrontEndToolsh3">Front-End Tools</h3>
                    <!--HTML Calling Card -------------------------------------------- -->
                    <div id="HTMLTextHidder"></div>
                    <p id="HTMLText">HTML</p>
                    <a id="HTMLAnchor" href=""><div id="HTMLBox">
                        <img id="HTMLIcon" src="../images/html.png" alt="image not found">
                    </div></a>
                    <a id="HTMLAnchorColoredBox" href=""><div id="HTMLColoredBox">
                    </div></a>
                    <a href=""><div id="HTMLTopLayer"></div></a>
                    <!-- ---------------------------------------------- -->
                    <a id="CSSAnchor" href=""><div id="CSSBox">
                        <img id="CSSIcon" src="../images/css.png" alt="image not found">
                    </div></a>
                    <a id="CSSColoredAnchor" href=""><div id="CSSColoredBox">
                    </div></a>
                    <a href=""><div id="CSSTopLayer"></div></a>
                    <!-- ---------------------------------------------- -->
                    <a id="XMLAnchor" href=""><div id="XMLBox">
                        <img id="XMLIcon" src="../images/xml.png" alt="image not found">
                    </div></a>
                    <a id="XMLColoredAnchor" href=""><div id="XMLColoredBox">
                    </div></a>
                    <a href=""><div id="XMLTopLayer"></div></a>
                    <!-- ---------------------------------------------- -->
                    <a id="FXMLAnchor" href=""><div id="FXMLBox">
                        <img id="FXMLIcon" src="../images/kisspng-javafx-scene-builder-fxml-jar-mobile-app-developme-builder-5ad89537442ac8.2010985615241434152792.png" alt="image not found">
                    </div></a>
                    <a id="FXMLColoredAnchor"><div id="FXMLColoredBox">
                    </div></a>
                    <a href=""><div id="FXMLTopLayer"></div></a>
                </div>
            </div>
            <div id="ContactMe">
                <h2>Contact Me</h2>
            </div>
        </main>
        <footer>
            <div id="DisclaimerAndSources">
                <p>!!!DISCLAIMER!!!</p>
                <p>This website is for display of my skill set in Software Engineering, Web development, and Mobile app development only!
                    This website does not and will not accumulate monetary worth, wealth, or assets in any way. It is designed to show off my experience in 
                    specific programming languages and programming technologies to the gerneral public who just so happen to come across this website, hiring teams, recuiters of any level, and HR. I do not own these icons, logos, and color 
                    schemes associated with said icons and logos. I am not in connection or in endorsment from the companies, entities, or people that created these logos/technologies.
                    All icons/logos will be listed below where they were sourced. Any company, entity, or rightful owner of these icons/logos who wish to see them be taken down, please get into contact with me. 
                    Thank you, and please reach out to me!
                </p>
                <p>!!!DISCLAIMER!!!</p>
                <p>"mobile-application.png" icon was  made/sourced by "amonrat rungreangfangsai" from www.flaticon.com,
                    "coding.png" icon was made/sourced by "nawicon" from www.flaticon.com,
                    "code.png" icon was made/sourced by "Freepik" from www.flaticon.com,
                    "github.png" icon was made/sourced by "riajulislam" from www.flaticon.com,
                    "linkedin.png" icon was made/sourced by "riajulislam" from www.flaticon.com,
                    "instagram.png" icon was made/sorced by "Freepik" from www.flaticon.com,
                    "social.png" icon was made/sorced by "popcornarts" from www.flaticon.com,
                    "html.png" icon was made/sorced by "Freepik" from www.flaticon.com,
                    "xml.png" icon was made/sourced by "Smashicons" from www.flaticon.com,
                    "python-logo_icon169724.png" icon was made/sourced from https://www.python.org/community/logos/,
                    "java.png" icon was made/sourced by "Freepik" from www.flaticon.com,
                    "js.png" icon was made/sourced by "Freepik" from www.flaticon.com,
                    "swift.png" icon was made/sourced by "Freepik" from www.flaticon.com,
                    "compiler.png" icon was made/sourced by "iconixar" from www.flaticon.com,
                    "kotlin.png" logo was sourced from Kotlins website,
                    "sqlite_logo_icon_1.png" was sourced from www.icons-icons.com,
                    "kisspng-javafx-scene-builder-fxml-jar-mobile-app-developme-builder-5ad89537442ac8.2010985615241434152792.png" was sourced from cleanpng.com</p>
            </div>
        </footer>
    </body>
</html>