<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/main.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Projects and Portfolio</title>
    </head>
    <body>
        <script defer src="JSmain.js"></script>
        <header>
            <div id="NavigationBar">
                <h1><a href="main.html">Chase Crawford</a></h1>
                <nav>
                    <a href="main.html">About Me</a>
                    <a href="ProjectsAndPortfolio.html">Projects/Portfolio</a>
                    <a href="Resume.html">Resume</a>
                    <a href="main.html">Contact Me</a>
                </nav>
            </div>
        </header>
        <main>

        </main>
    </body>
</html>