body{
    background-color: whitesmoke;
    margin: 0px;
    overflow-x: hidden;
    font-family: Mercury Display A,Mercury Display B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

 #NavigationBar a{
    text-decoration: none;
    color: inherit;
    
}
#WorkAreas{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #141618;
    z-index: 1;
}
#WorkAreash2{
    color: white;
    position: relative;
    text-align: center;
    z-index: 2;
    left: 33px;
    top: 60px;
}

#MyAreas{
    position: relative;
}

#WorkAreas img{
    height: 180px;
    width: 180px;
}

#GeneralSWE{
    position: relative;
    display: flex;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
    left: 100px;
    top: 80px;

}
#BlueBall{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 250px;
    background-color: blue;
    left: 100px;
    bottom: 175px;

}
#GeneralSWE:hover{
    animation: Rise1 1.5s ease forwards;
}
#Text1{
    position: absolute;
    left: 150px;
    bottom: 140px;
    color: white;
}
@keyframes Rise1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-45px);
    }
    100% {
        transform: translateY(-45px);
    }
}
@keyframes Drop1 {
    0% {
        transform: translateY(-45px);
    }
    50% {
        transform: translateY(-45px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes BlueBallRise {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
@keyframes BlueBallExpand {
    from{
        transform: scale(1);
    } 
    to{
        transform: scale(9,1.6);       
        border-radius: 0;
    }
}
@keyframes Text1Drop {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(40px);
    }
}
@keyframes Text1Rise {
    0%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes BlueBallShrink {
    from{
        transform: scale(9,1.6);       
        border-radius: 0;
    }
    to{
        transform: scale(1);
    }
}
#WebDevelopment{
    position: relative;
    display: flex;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;

    left: 530px;
    bottom: 420px;
}
#OrangeBall{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 250px;
    background-color: orange;
    left: 530px;
    bottom: 675.1px;

}
#WebDevelopment :hover{
    animation: Rise2 1.5s ease forwards;
}
#Text2 {
    position: absolute;
    left: 590px;
    bottom: 150px;
    color: white;
}
@keyframes Rise2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(-25px);
    }
}

@keyframes OrangeBallRise {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
@keyframes OrangeBallExpand {
    from{
        transform: scale(1);
    } 
    to{
        transform: scale(9,1.6);       
        border-radius: 0;
    }
}
@keyframes Text2Drop {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(45px);
    }
}
@keyframes Text2Rise {
    0%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes OrangeBallShrink {
    from{
        transform: scale(9,1.6);       
        border-radius: 0;
    }
    to{
        transform: scale(1);
    }
}

#MobileDevelopment {
    position: relative;
    display: flex;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
    bottom: 920px;
    left: 930px;

    transition: all 1.5s ease;
}
#RedBall {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: red;
    bottom: 1175.1px;
    left: 930px;

    transition: all 3s ease;
}
#MobileDevelopment:hover {
    animation: Rise3 1.5s ease forwards;
}
#Text3 {
    position: absolute;
    left: 1015px;
    bottom: 150px;
    color: white;
}
@keyframes Rise3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(-50px);
    }
}
@keyframes Text3Drop {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(45px);
    }
}
@keyframes Text3Rise {
    0%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes RedBallRise {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
@keyframes RedBallExpand {
    from{
        transform: scale(1);
    } 
    to{
        transform: scale(9,1.6);       
        border-radius: 0;
    }
}
@keyframes RedBallShrink {
    from{
        transform: scale(9,1.6);       
        border-radius: 0;
    }
    to{
        transform: scale(1);
    }
}
#PPImg{
    height: 180px;
    width: 180px;
    float: left; 
    margin: 5px;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 20px;
}
#AboutMe{
    position: relative;
    z-index: 3;
    left: 100px;
    bottom: 550px;
    width: 1100px;
}
#AboutMeh2{
    position: relative;
    color: white;
    font-size: larger;
    left: 100px;
    bottom: 600px;
    z-index: 3;

}
#AboutMeContainer{
    position: relative;
    background-color: #141618;
    height: 500px;
    width: 685px;
    left: -30px;
    bottom: 430px;
    opacity: 0.25;
    z-index: 2;
}

#VerticalLine{
    position: relative;
    background-color: white;
    width: 1px;
    height: 500px;
    z-index: 3;
    left: 70px;
    bottom: 1480px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
#AboutMe:hover + #VerticalLine{
    opacity: 1;
}

#AboutMePara p{
    position: relative;
    text-align: justify; 
    font-size: 15px;
    margin-right: 500px;
    color: rgba(255, 255, 255, 1);
    filter: brightness(200%);
}
#CitySkyline img{
    position: relative;
    width: 100%;
    height: 650px;
    z-index: 1;
    filter: brightness(80%);
}
#ToolBelt{
    position: relative;
    bottom: 900px;
}
#ContactMe{
    position: relative;
    bottom: 900px;
}
footer{
    position: relative;
    bottom: 900px;
}